*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading_img1{
    display: flex;
    gap: 300px;
}
.img{
border-radius: 50px;
/* border: 2px solid black; */
}
.container{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    margin-left: 25px;
    margin-bottom: 10px;
}
